$govuk-assets-path: "~govuk-frontend/govuk/assets/";
@import "~govuk-frontend/govuk/all";

.nojs-hidden {
  display: none;
}

.js-enabled .nojs-hidden {
  display: block;
}

.check-your-answers {
  td {
    vertical-align: top;

    &.required {
      color: $govuk-error-colour;
    }
  }

  .change-answer {
    text-align: right;
    padding-right: 0;
  }
}

.govuk-prose-scope {

  // @extend inheritance

  // Contextual heading and paragraph combinations are inherited
  // through the use of @extend

  h1 {
    @extend %govuk-heading-xl;
  }

  h2 {
    @extend %govuk-heading-l;
  }

  h3 {
    @extend %govuk-heading-m;
  }

  h4 {
    @extend %govuk-heading-s;
  }

  p {
    @extend %govuk-body-m;
  }

  strong,
  b {
    @include govuk-typography-weight-bold;
  }

  ul,
  ol {
    @extend %govuk-list;
  }

  ol {
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list--bullet;
  }

  a {
    @extend %govuk-link;
  }

  hr {
    @extend %govuk-section-break;
    @extend %govuk-section-break--visible;
    @extend %govuk-section-break--xl;
  }
}


div.govuk-grid-row.header div:nth-child(2), div.govuk-grid-row.header div:nth-child(3) {
  padding-left: 38px;
}

details.govuk-details {
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

details.govuk-details.govuk-details-no-border {
  border: none;
}

details.govuk-details.govuk-details-no-border ul {
  margin-top: 0;
}

details.govuk-details div.govuk-details__text {
  margin-bottom: 15px;
}

details.govuk-details div.govuk-details__text p {
  color: dimgrey;
}

summary.govuk-details__summary:before{
  top:-45px;
}

summary.govuk-details__summary {
  width: 100%;
}

summary.govuk-details__summary div.col2, summary.govuk-details__summary div.col3 {
  color: black;
  cursor: pointer;
}

summary.govuk-details__summary:focus {
  background-color: transparent;
  box-shadow: none;
}

div.search {
  position: relative;
}

div.search .search__input {
  width: calc(100% - 40px);
}

div.search .search__label {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}

div.search .search__button {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 0;
  background-color: #1d70b8;
  color: #fff;
  cursor: pointer;
  padding: 0;
  width: 40px;
  height: 100%;
  /*background-image: url(/images/search-button.png);*/
  background-repeat: no-repeat;
  background-position: 2px 50%;
  text-indent: -4px;
  overflow: hidden;
}

div.summary, p.summary {
  background-color: #f3f2f1;
  padding: 20px;
  border: 1px solid #b1b4b6;
}


details.govuk-details form button {
  margin-bottom: 0;
}

hr.divider {
  margin-bottom: 30px;
  border: 1px solid #f3f2f1;
}

.button-text--loading {
  visibility: hidden;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
      transform: rotate(0turn);
  }

  to {
      transform: rotate(1turn);
  }
}

.govuk-cards__item {
  box-sizing: border-box;

  @include govuk-media-query($until: tablet) {
      margin-bottom: 20px;
  }

  @include govuk-media-query($from: tablet) {
      float: left;
      margin-bottom: 40px;
  }

  @include govuk-media-query($from: desktop) {
      width: 33.333333%;

      &:not(:nth-child(3n+3)) {
          padding-right: 20px;
      }
  }

  @include govuk-media-query($from: tablet, $until: desktop) {
      width: 50%;

      &:not(:nth-child(2n+2)) {
          padding-right: 15px;
      }
  }
}

/**
* V2 cards with background colour
*/
.govuk-cards::after,
.govuk-cards--2::after,
.govuk-cards--3::after {
  content: '';
  display: block;
  clear: both;
}

.govuk-cards--2__item {
  box-sizing: border-box;
  border: 1px solid #b1b4b6;
  background-color: #f3f2f1;
  padding: 20px;
  margin-bottom: 20px;
  float: left;

  :last-child {
      margin-bottom: 0;
  }

  @include govuk-media-query($from: desktop) {
    width: calc(33% - 11px);
    min-height: 220px;

    &.govuk-card--company {
        width: calc(66.8% - 10px);
    }

    &:not(:nth-child(3n+3)) {
        margin-right: 20px;
    }

    .govuk-cards--3 &.govuk-card--contacts {
        margin-right: 0;
    }
  }

  @include govuk-media-query($from: tablet, $until: desktop) {
    width: calc(50% - 8px);
    min-height: 220px;

    &.govuk-card--company {
        width: calc(66% - 8px);
    }

    &:not(:nth-child(2n+2)) {
        margin-right: 15px;
    }

    .govuk-cards--3 &.govuk-card--contacts {
        margin-right: 0;
    }
  }

  @include govuk-media-query($until: tablet) {
    width: 100%;

    &.govuk-card--company {
        width: 100%;
    }
  }
}
