{# Backstage scaffolder to render the file as is and to skip this content to interpret as template   #}
{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Document response",
        href: "/document-response?DocumentID=" + DocumentID
      },
      {
        text: "Document history",
        href: "#"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Document history</h1>

      <h2 class="govuk-heading-m">Original correspondence</h2>

      <p class="govuk-body summary">{{ document.Contents | replace("\n", "<br>") }}</p>

      {% for response in responses %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <p class="govuk-grid-column-one-quarter govuk-body"><strong>{% if response.ModelResponse %}Agent{% else %}User{% endif %}</strong></p>
          <p class="govuk-grid-column-three-quarters govuk-body">{% if response.ModelResponse %}{{ response.ModelResponse | replace("\n", "<br>") | safe }}{% else %}{{ response.UserResponse | replace("\n", "<br>") | safe }}{% endif %}</p>
        </div>
      </div>
      <hr class="divider">
      {% endfor %}

      <a href="./document-response?DocumentID={{ DocumentID }}" class="govuk-back-link">Back</a>
    </div>
  </div>
{% endblock %}
