{# Backstage scaffolder to render the file as is and to skip this content to interpret as template   #}
{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Document queue",
        href: "#"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if message != '' %}
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-8">
          <h2 class="govuk-panel__title">
            Document complete
          </h2>
          <div class="govuk-panel__body">
            {{ message }}
          </div>
        </div>
      {% endif %}

      <h1 class="govuk-heading-xl">Document queue</h1>

      <div class="govuk-grid-row header govuk-body">
        <div class="govuk-grid-column-one-third">
          <div class="search" data-module="search" data-path-to-site-root="/" data-search-module-started="true">
            <form action="#" method="post" role="search">
              <label class="govuk-label search__label" for="search" aria-hidden="true">Search</label>
              <input type="text" id="search" name="q" class="govuk-input govuk-!-margin-bottom-0 search__input" aria-controls="search-results" placeholder="Search">
              <button class="search__button" type="submit" enterkeyhint="search">
                <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                  <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
                  <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
                </svg>
              </button>
            </form>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          &nbsp;
        </div>
        <div class="govuk-grid-column-one-third govuk-!-text-align-right">
          <form action="/upload-document" method="get" role="upload">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Upload a new document
            </button>
          </form>
        </div>
      </div>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Category</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for document in documents %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell--align-middle">{{ document.metadata.fileName }}</td>
            <td class="govuk-table__cell govuk-table__cell--align-middle">{{ document.properties.createdOn }}</td>
            <td class="govuk-table__cell govuk-table__cell--align-middle">{{ document.metadata.suggestedCategory }}</td>
            <td class="govuk-table__cell govuk-!-text-align-right">
              <a href="/document/{{ document.name }}/configure" type="submit" class="govuk-button govuk-button--secondary govuk-button--no-margin" data-module="govuk-button">
                Proceed
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}