{# Backstage scaffolder to render the file as is and to skip this content to interpret as template   #}
{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Document response",
        href: "/document/" + documentId + "/response"
      },
      {
        text: "Document history",
        href: "#"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Document history</h1>

      <h2 class="govuk-heading-m">Original correspondence</h2>

      <p class="govuk-body summary">
        {{ contents | replace("\n", "<br>") | safe }}
      </p>

      {% for response in responses %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <p class="govuk-grid-column-one-quarter govuk-body"><strong>Agent</strong></p>
            <p class="govuk-grid-column-three-quarters govuk-body">{{ response.response | replace("\n", "<br>") | safe }}</p>
          </div>
        </div>
        <hr class="divider">

        {% if response.userPrompt %}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <p class="govuk-grid-column-one-quarter govuk-body"><strong>User</strong></p>
              <p class="govuk-grid-column-three-quarters govuk-body">{{ response.userPrompt | replace("\n", "<br>") | safe }}</p>
            </div>
          </div>
          <hr class="divider">
        {% endif %}
      {% endfor %}

      <a href="/document/{{ documentId }}/response" class="govuk-back-link">Back</a>
    </div>
  </div>
{% endblock %}
