{# Backstage scaffolder to render the file as is and to skip this content to interpret as template   #}
{% extends '_layout.njk' %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Document response",
        href: "#"
      }
    ]
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Document response</h1>
      <div class="govuk-grid-row govuk-body">
        <div class="govuk-grid-column-one-quarter">
          <strong>Name</strong>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <strong>Date</strong>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <strong>Category</strong>
        </div>
      </div>
      <div class="govuk-grid-row govuk-body">
        <div class="govuk-grid-column-one-quarter">
          {{ document.metadata.fileName }}
        </div>
        <div class="govuk-grid-column-one-quarter">
          {{ document.properties.createdOn }}
        </div>
        <div class="govuk-grid-column-one-quarter">
          {{ document.metadata.suggestedCategory }}
        </div>
        <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
          <button
            type="button"
            class="govuk-button"
            data-module="govuk-button"
            onclick="document.getElementById('Correspondence').style.display = 'block'">
            View
          </button>
        </div>
      </div>
      <p id="Correspondence" class="govuk-body" style="display: none;">Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu</p>
      {% if response.response %}
        <form action="/document-response" method="get">
          <div class="govuk-grid-row govuk-body">
            <div class="govuk-grid-column-one-quarter">
              <strong>Persona</strong>
            </div>
            <div class="govuk-grid-column-one-quarter">
              <strong>Prompt</strong>
            </div>
            <div class="govuk-grid-column-one-quarter">
              <strong>Model</strong>
            </div>
          </div>
          <div class="govuk-grid-row govuk-body">
            <div class="govuk-grid-column-one-quarter">
              Government official
            </div>
            <div class="govuk-grid-column-one-quarter">
              Government official
            </div>
            <div class="govuk-grid-column-one-quarter">
              GPT3.5
            </div>
          </div>
          <h2 class="govuk-heading-m">Response</h2>
          <p class="govuk-body summary">{{ response.response | replace('\n', '<br>') | safe }}</p>
          <details class="govuk-details govuk-details-no-border">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Sources
              </span>
            </summary>
            <div class="govuk-details__text">
              {% for citation in response.citations %}
                <div class="govuk-summary-card">
                  <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                      {{ citation.title }}
                    </h2>
                  </div>
                  <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Lines
                        </dt>
                        <dd class="govuk-summary-list__value">
                          {% for location in citation.locations %}
                            {{ location.lines.from }}-{{ location.lines.to }}
                          {% endfor %}
                        </dd>
                      </div>
                    </dl>
                  </div>
                </div>
              {% endfor %}
            </div>
          </details>
        </form>
      {% endif %}
      <form action="/document/response" method="post">
        <h2 class="govuk-heading-m govuk-!-margin-top-8">Customise this response</h2>
        <textarea class="govuk-textarea" id="more-detail" name="usertext" rows="5" aria-describedby="more-detail-hint">{{ usertext }}</textarea>
        <details class="govuk-details govuk-details-no-border">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Show examples
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul>
              <li>Remove the first paragraph</li>
              <li>Add a section explaining the boundary grants that are available</li>
            </ul>
          </div>
        </details>
        <div class="govuk-button-group govuk-!-margin-top-8">
          <button
            type="submit"
            name="action"
            value="generate"
            data-prevent-double-click="true"
            class="govuk-button"
            data-module="govuk-button">
            Generate response
          </button>
          <a
            href="/document/{{ document.documentId }}/response/history"
            data-prevent-double-click="true"
            class="govuk-button govuk-button--secondary"
            data-module="govuk-button">
            Response history
          </a>
          <button
            type="submit"
            name="action"
            value="start_over"
            data-prevent-double-click="true"
            class="govuk-button govuk-button--warning"
            data-module="govuk-button">
            Start over
          </button>
        </div>
        <input type="hidden" name="documentId" value="{{ document.documentId }}"></form>
      </div>
    </div>
  {% endblock %}