{# Backstage scaffolder to render the file as is and to skip this content to interpret as template   #}
{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Document response",
        href: "#"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Document response</h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header no-border">Name</th>
            <th scope="col" class="govuk-table__header no-border">Date</th>
            <th scope="col" class="govuk-table__header no-border">Category</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk no-border">{{ document.metadata.fileName }}</td>
            <td class="govuk-table__cell govuk no-border">{{ document.properties.createdOn }}</td>
            <td class="govuk-table__cell govuk no-border">{{ document.metadata.suggestedCategory }}</td>
          </tr>
        </tbody>
      </table>

      {% if response.response %}
        <form action="/document-response" method="get">
          <h2 class="govuk-heading-m">Document Summary</h2>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Author
              </dt>
              <dd class="govuk-summary-list__value">
                {{ document.metadata.author }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Sentiment
              </dt>
              <dd class="govuk-summary-list__value">
                {{ document.metadata.sentiment }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Summary
              </dt>
              <dd class="govuk-summary-list__value">
                {{ document.metadata.summary | replace('\n', '<br>') | safe }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Key points
              </dt>
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet">
                  {% for point in document.metadata.keyPoints %}
                    <li>{{ point }}</li>
                  {% endfor %}
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Key facts
              </dt>
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet">
                  {% for fact in document.metadata.keyFacts %}
                    <li>{{ fact }}</li>
                  {% endfor %}
                </ul>
              </dd>
            </div>
          </dl>

          <h2 class="govuk-heading-m">Response</h2>
          <p class="govuk-body">Generated: {{ response.generatedOn }}</p>
          <p class="govuk-body summary">{{ response.response | replace('\n', '<br>') | safe }}</p>

          {% if not response.citations | length %}
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                No sources found.
              </strong>
            </div>
          {% endif %}
          {% if response.citations | length %}
            <details class="govuk-details govuk-details-no-border">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Sources
                </span>
              </summary>
              <div class="govuk-details__text">
                {% for citation in response.citations %}
                  <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                      <h2 class="govuk-summary-card__title">
                        Source {{ loop.index }}: {{ citation.title }}
                      </h2>
                    </div>
                    <div class="govuk-summary-card__content">
                      <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Source
                          </dt>
                          <dd class="govuk-summary-list__value">
                            {{ citation.source }}
                          </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Category
                          </dt>
                          <dd class="govuk-summary-list__value">
                            {{ citation.category }}
                          </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                          </dt>
                          <dd class="govuk-summary-list__value">
                          </dd>
                          <dd class="govuk-summary-list__actions">
                            <a href="/document/{{ document.documentId }}/response/citations" class="govuk-link" data-module="govuk-link">
                              View Citations
                            </a>
                          </dd>
                        </div>
                      </dl>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </details>
          {% endif %}
        </form>
      {% endif %}

      <form id="response_form" action="/document/response" method="post">
        {% if response.response %}
          <h2 id="customise_input" class="govuk-heading-m govuk-!-margin-top-8">Customise this response</h2>

          <textarea class="govuk-textarea" id="more-detail" name="usertext" rows="5" aria-describedby="more-detail-hint">{{ usertext }}</textarea>
          <details id="more-detail-hint" class="govuk-details govuk-details-no-border">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Show examples
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul>
                <li>Remove the first paragraph</li>
                <li>Add a section explaining the boundary grants that are available</li>
              </ul>
            </div>
          </details>
        {% endif %}
        <div class="govuk-button-group govuk-!-margin-top-8">
          <button
            type="submit"
            name="action"
            value="generate"
            data-prevent-double-click="true"
            class="govuk-button"
            data-module="govuk-button">
            <span>Generate response</span>
          </button>
          <a
            href="/document/{{ document.documentId }}/response/history"
            data-prevent-double-click="true"
            class="govuk-button govuk-button--secondary"
            data-module="govuk-button">
            Response history
          </a>
          <a
            href="/document/{{ document.documentId }}/finalise"
            data-prevent-double-click="true"
            class="govuk-button govuk-button--secondary"
            data-module="govuk-button">
            Finalise
          </a>
          <button
            type="submit"
            name="action"
            value="start_over"
            data-prevent-double-click="true"
            class="govuk-button govuk-button--warning"
            data-module="govuk-button">
            Start over
          </button>
        </div>
        <input type="hidden" name="documentId" value="{{ document.documentId }}">
      </form>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script>
    const form = document.querySelector('#response_form')
    const documentId = form.querySelector('input[name="documentId"]').value
    const formAttributes = form.attributes
    const es = new EventSource(`/document/${documentId}/response/events`)

    es.addEventListener('error', (event) => {
      console.error(event)
    })

    form.onsubmit = async (event) => {
      const documentId = form.querySelector('input[name="documentId"]').value

      const data = {
        documentId: form.querySelector('input[name="documentId"]').value,
        usertext: form.querySelector('textarea[name="usertext"]')?.value ?? '',
        action: event.submitter.attributes['value'].value
      }

      if (data.action === 'generate') {
        event.preventDefault()

        const button = form.querySelector('button[type="submit"][name="action"][value="generate"]')

        button.classList.add('govuk-button--disabled')
        button.classList.add('button--loading')
        button.querySelector('span').classList.add('button-text--loading')

        try {
          const res = await fetch(formAttributes['action'].value, {
            method: formAttributes['method'].value,
            body: JSON.stringify(data),
            headers: {
              'Content-Type': 'application/json'
            }
          })
        } catch (error) {
          console.error(error)
          location.reload()
        }

        es.addEventListener('message', (event) => {
          const data = JSON.parse(event.data)

          if (data.event === 'response') {
            location.reload()
          }
        })
      } else if (data.action === 'start_over') {
        const button = form.querySelector('button[type="submit"][name="action"][value="start_over"]')

        button.classList.add('govuk-button--disabled')
        button.classList.add('button--loading')
      }
    }
  </script>
{% endblock %}
