{# Backstage scaffolder to render the file as is and to skip this content to interpret as template   #}
{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Document response",
        href: "#"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Document response</h1>

      <div class="govuk-grid-row govuk-body">
        <div class="govuk-grid-column-one-third">
          <strong>Name</strong>
        </div>
        <div class="govuk-grid-column-one-third">
          <strong>Date</strong>
        </div>
        <div class="govuk-grid-column-one-third">
          <strong>Category</strong>
        </div>
      </div>

      <div class="govuk-grid-row govuk-body">
        <div class="govuk-grid-column-one-third">
          {{ document.metadata.fileName }}
        </div>
        <div class="govuk-grid-column-one-third">
          {{ document.properties.createdOn }}
        </div>
        <div class="govuk-grid-column-one-third">
          <select class="govuk-select" id="category" name="category">
            {% for category in categories %}
              <option value="{{ category }}"{% if category == document.metadata.suggestedCategory %} selected{% endif %}>{{ category }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <p class="govuk-body summary">{{ contents | replace("\n", "<br>") | safe }}</p>

      <a name="configure_response"></a>
      <h2 class="govuk-heading-m">Response</h2>

      <form id="configure_form" action="/document/configure" method="post">
        <p class="govuk-body govuk-!-margin-top-6">
          Model<br>
          <select class="govuk-select" id="model" name="model" onchange="document.querySelector('#configure_form').submit()">
            <option>Select a language model</option>
            {% for vendor in models %}
              <optgroup label="{{ vendor.vendor }}">
              {% for  model in vendor.models %}
                <option value="{{ model.modelId }}"{% if selectedModel == model.modelId %} selected{% endif %}>{{ model.model }}</option>
              {% endfor %}
              </optgroup>
            {% endfor %}
          </select>
        </P>

        <p class="govuk-body govuk-!-margin-top-6">
          Persona<br>
          <select class="govuk-select" id="persona" name="persona">
            <option>Select a persona</option>
            {% for persona in personas %}
              <option value="{{ persona.rowKey }}">{{ persona.name }}</option>
            {% endfor %}
          </select>
        </P>
        <p>
          <a href="#" class="govuk-link">View persona</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#" class="govuk-link">Manage personas</a>
        </p>

        <p class="govuk-body govuk-!-margin-top-6">
          Prompt<br>
          <select class="govuk-select" id="prompt" name="prompt">
            {% for prompt in prompts %}
              <option value="{{ prompt.name }}">{{ prompt.name }}</option>
            {% endfor %}
          </select>
        </P>
        <p>
          <a href="#" class="govuk-link">View prompt</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#" class="govuk-link">Manage prompts</a>
        </p>

        <h3 class="govuk-heading-s">Knowledge</h3>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="knowledge-articles">
            <div id="knowledge-articles" class="govuk-hint">
              Select all of the knowledge articles to reference
            </div>

            <div class="govuk-grid-row govuk-body">
              <div class="govuk-grid-column-one-third">
                <strong>File</strong>
              </div>
              <div class="govuk-grid-column-one-third">
                <strong>Date</strong>
              </div>
              <div class="govuk-grid-column-one-third">
                <strong>Category</strong>
              </div>
            </div>

            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              {% for article in knowledge %}
              <div class="govuk-grid-row govuk-body">
                <div class="govuk-grid-column-one-third">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="knowledge-{{loop.index}}" name="knowledge" type="checkbox" value="{{ article.documentId }}" checked>
                    <label class="govuk-label govuk-checkboxes__label" for="knowledge-{{loop.index}}">
                      {{ article.fileName }}
                    </label>
                  </div>
                </div>
                <div class="govuk-grid-column-one-third">
                  {{ article.lastModified }}
                </div>
                <div class="govuk-grid-column-one-third">
                  {{ article.category }}
                </div>
              </div>
              {% endfor %}
            </div>
          </fieldset>
        </div>

        <div class="govuk-!-margin-top-8">
          <button
            type="submit"
            name="action"
            value="next"
            data-prevent-double-click="true"
            class="govuk-button"
            data-module="govuk-button">
            Next
          </button>
          <input type="hidden" name="documentId" value="{{ documentId }}">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
